.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var(--text-inactive-color);
  padding: 16px 20px;
  border-radius: 40px;
  transition: box-shadow .2s;
}

.link:hover {
  box-shadow: 0 0 10px hsla(0,0%,100%,.5);
}

.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
